<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucas.energysaving">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity"> </activity>

        <receiver android:name=".EmitirDicaReceiver">
            <intent-filter>
                <action android:name="com.example.brenon.Emitir_Dica" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityDetalheDica"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ActivityDetalheConsumo" />
        <activity android:name=".ActivityHistoricoDicas" />
        <activity android:name=".ActivityAdicionarConsumo" />
        <activity android:name=".ActivityCalcularConsumo"></activity>
    </application>

</manifest>